MONGO_URI=mongodb://localhost:27017/yourdbname
JWT_SECRET=your_jwt_secret
COMPANY_NAME=Your Company Name
COMPANY_EMAIL=your_email@example.com
BREVO_API_KEY=your_brevo_api_key
BASE_URL=http://localhost:3000
PORT=5000
NODE_ENV=development
